*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 0%);
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 0%);
}

body {
  color: hsl(0deg, 0%, 0%);
  font-size: 1.6rem;
}

h1 {
  font-size: 2.6rem;
}

h2,
p {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

.container-logoexp {
  display: flex;
  width: 100%;
  flex: 1 1 50%;
}

.container-colorexp {
  display: flex;
  width: 100%;
  flex: 1 1 50%;
}

.container-colors {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.color-list-1, .color-list-2, .color-list-3 {
  display: flex;
  justify-content: space-around;
}

.box-color {
  width: 10rem;
  height: 5rem;
  margin: 2rem 1rem;
}
.box-color.color-un {
  background-color: #d6001d;
}
.box-color.color-deux {
  background-color: #c30f16;
}
.box-color.color-trois {
  background-color: #c61610;
}
.box-color.color-quatre {
  background-color: #ce0d0d;
}
.box-color.color-cinq {
  background-color: #bb2528;
}
.box-color.color-six {
  background-color: #ea4630;
}
.box-color.color-sept {
  background-color: #146b3a;
}
.box-color.color-huit {
  background-color: #00873e;
}
.box-color.color-neuf {
  background-color: #0ca90c;
}
.box-color.color-dix {
  background-color: #165b33;
}
.box-color.color-onze {
  background-color: #1e792c;
}
.box-color.color-douze {
  background-color: #42692f;
}
.box-color.color-treize {
  background-color: #235e6f;
}
.box-color.color-quatorze {
  background-color: #535233;
}
.box-color.color-quinze {
  background-color: #f0d890;
}
.box-color.color-seize {
  background-color: #bca875;
}
.box-color.color-dixsept {
  background-color: #e0d2c5;
}
.box-color.color-dixhuit {
  background-color: #caa906;
}

.explications {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 2rem 10rem 2rem;
  border: 0.3rem solid black;
  position: relative;
}

.explications2 {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 2rem 10rem 2rem;
  border: 0.3rem solid black;
  position: relative;
}

.explications3 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 2rem 10rem 2rem;
  margin-bottom: 1rem;
  border: 0.3rem solid black;
  position: relative;
}

.pgsuivante {
  border: 2px solid black;
  border-radius: 2rem;
  position: absolute;
  right: 6rem;
  bottom: 2rem;
  font-size: 2.6rem;
  width: 10rem;
  height: 5rem;
  line-height: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.pgsuivante:hover {
  background-color: black;
}
.pgsuivante:hover a {
  color: white;
}

.pgprecedente {
  border: 2px solid black;
  border-radius: 2rem;
  position: absolute;
  right: 18rem;
  bottom: 2rem;
  font-size: 2.6rem;
  width: 10rem;
  height: 5rem;
  line-height: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.pgprecedente:hover {
  background-color: black;
}
.pgprecedente:hover a {
  color: white;
}

.logo-list {
  width: 50%;
  text-align: center;
}

.logo-un {
  font-family: "Shrikhand", cursive;
  font-size: 5rem;
}

.logo-deux {
  font-family: "Quicksand", sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

.logo-trois {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  font-weight: bold;
}

.logo-quatre {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
}

.logo-cinq {
  font-family: "Dela Gothic One", cursive;
  font-size: 5rem;
}

.logo-six {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
}

.textes-list {
  text-align: center;
}
.textes-list p {
  margin: 2rem 0;
}

.txt-style1 {
  font-family: "BioRhyme", serif;
}

.txt-style2 {
  font-family: "Cormorant", serif;
}

.txt-style3 {
  font-family: "Encode Sans", sans-serif;
}

.txt-style4 {
  font-family: "Hahmlet", serif;
}

.txt-style5 {
  font-family: "JetBrains Mono", monospace;
}

.txt-style6 {
  font-family: "Old Standard TT", serif;
}

.txt-style7 {
  font-family: "Open Sans", sans-serif;
}

.txt-style8 {
  font-family: "Oxygen", sans-serif;
}

.txt-style9 {
  font-family: "Roboto", sans-serif;
}

.txt-style10 {
  font-family: "Spectral", serif;
}

.foclp {
  color: #9356dc;
}

.foclpl {
  color: #ff79da;
}

.focls {
  color: #99e2d0;
}

input {
  width: 20rem;
  height: 20rem;
}

.color-picker {
  width: 100%;
  text-align: center;
}
.color-picker p {
  margin: 6rem 1rem;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
}

.btn-bubble {
  color: #af9483;
  background-color: #fec3ac;
  font-size: 1.6rem;
  border: 0.3rem solid #af9483;
  border-radius: 0.5rem;
  width: 20rem;
  height: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 4.4rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 500ms;
  margin: 1rem;
}
.btn-bubble:hover {
  color: #fec3ac;
  cursor: pointer;
}
.btn-bubble:hover .bubble {
  transform: translateY(0) scale(2);
}

.bubble {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #af9483;
  margin: 0;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 500ms;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.bubble:nth-child(1) {
  --n: 1;
}
.bubble:nth-child(2) {
  --n: 2;
}
.bubble:nth-child(3) {
  --n: 3;
}
.bubble:nth-child(4) {
  --n: 4;
}

.btn-split {
  position: relative;
  letter-spacing: 0.25em;
  margin: 1rem;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 1.6rem;
  color: black;
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
}
.btn-split::after, .btn-split::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  transform: skewX(30deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
}
.btn-split::before {
  background-color: #af9483;
  top: -1rem;
  left: 0rem;
}
.btn-split::after {
  background-color: #fec3ac;
  top: 1rem;
  left: 10rem;
}
.btn-split:hover::before, .btn-split:hover::after {
  top: 0;
  transform: skewx(0deg);
}
.btn-split:hover::after {
  left: 0rem;
}
.btn-split:hover::before {
  left: 10rem;
}

.container-split {
  /*width: 40rem;
  height: 5rem;
  line-height: 5rem;*/
  margin: 1rem;
}
.container-split a {
  text-transform: uppercase;
  text-decoration: none;
}

.btn-fancy {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  width: 26rem;
  height: 5rem;
  line-height: 0.5rem;
  position: relative;
  padding: 1.5em 3em;
  margin: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: #af9483;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.btn-fancy:hover {
  background: rgba(254, 195, 172, 0.3);
}
.btn-fancy__horizontal, .btn-fancy__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.btn-fancy__horizontal::before, .btn-fancy__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.btn-fancy__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.btn-fancy__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.btn-fancy:hover .btn-fancy__horizontal {
  transform: scaleX(0);
}
.btn-fancy__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.btn-fancy__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.btn-fancy:hover .btn-fancy__vertical {
  transform: scaleY(0);
}

.draw-border {
  box-shadow: inset 0 0 0 4px #af9483;
  color: #af9483;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #fec3ac;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #fec3ac;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn-drawborder {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  line-height: 2rem;
  text-align: center;
}
.btn-drawborder:focus {
  outline: 2px dotted #fec3ac;
}

/*$color: black;
$body-color: #ecf0f1;*/
.btn-lines {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  margin: 1rem;
  width: 20rem;
  height: 5rem;
  text-align: center;
  text-transform: uppercase;
}
.btn-lines.type1 {
  color: #af9483;
}
.btn-lines.type1.type1::after, .btn-lines.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.btn-lines.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #af9483;
  border-right-color: #af9483;
}
.btn-lines.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #af9483;
  border-left-color: #af9483;
}
.btn-lines.type1.type1:hover:after, .btn-lines.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}
.btn-lines.type2 {
  color: #af9483;
}
.btn-lines.type2.type2:after, .btn-lines.type2.type2:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #af9483;
  transition: all 0.3s ease;
  transform: scale(0.85);
}
.btn-lines.type2.type2:hover:before {
  top: 0;
  transform: scale(1);
}
.btn-lines.type2.type2:hover:after {
  transform: scale(1);
}
.btn-lines.type3 {
  color: #af9483;
}
.btn-lines.type3.type3::after, .btn-lines.type3.type3::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.btn-lines.type3.type3::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #af9483;
  border-right-color: #af9483;
}
.btn-lines.type3.type3::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #af9483;
  border-left-color: #af9483;
}
.btn-lines.type3.type3:hover:after, .btn-lines.type3.type3:hover:before {
  border-bottom-color: #af9483;
  border-right-color: #af9483;
  border-top-color: #af9483;
  border-left-color: #af9483;
  width: 100%;
  height: 100%;
}
.btn-lines.type4 {
  color: #af9483;
}
.btn-lines.type4::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  background-color: #af9483;
  transition: width 0.3s ease-in-out;
}
.btn-lines.type4::after {
  bottom: 0;
}
.btn-lines.type4:hover::after {
  width: 50px;
}

.btn-cubic {
  color: #af9483;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 45px;
  margin: 1rem;
  width: 20rem;
  height: 5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.btn-cubic:hover {
  text-decoration: none;
}

.btn-c1 {
  letter-spacing: 0;
}

.btn-c1:hover,
.btn-c1:active {
  letter-spacing: 5px;
}

.btn-c1:after,
.btn-c1:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(175, 148, 131, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-c1:hover:after,
.btn-c1:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #af9483;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-c1:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn-c2 {
  background: #fecebb;
  border: 1px solid #feb498;
  box-shadow: 0px 2px 0 #feb193, 2px 4px 6px #febca2;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-c2:hover {
  background: #febea4;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(169, 169, 169, 0.2);
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 #fda07c;
  transition: all 250ms linear;
}

.btn-c3 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.btn-c3 span {
  z-index: 20;
}
.btn-c3:after {
  background: #fec3ac;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-c3:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-c4 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(175, 148, 131, 0);
  outline: 1px solid;
  outline-color: rgba(175, 148, 131, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-c4:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(175, 148, 131, 0.5), 0 0 20px rgba(175, 148, 131, 0.2);
  outline-color: rgba(175, 148, 131, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #fec3ac;
}/*# sourceMappingURL=main.css.map */